.about-area {
    margin-top: 2rem;
    display: flex;
    justify-content: flex-end;
    margin-right: 7%;
}

.about-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 26rem;
    height: 25rem;
}

.about-header {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;

}

.about-text {
    margin-top: 2rem;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.profile-image {
    width: 25rem;
}