.gallery {
    overflow: hidden;
    display: flex;
    justify-content: center;
    height: 20rem;
}
.gallery-image-container {
    width: 20rem;
    display: flex;
    justify-content: center;
}

.gallery-image {
    overflow: hidden;
    margin-top: 2rem;
    height: 20rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.gallery-button {
    background: none;
    border: none;
    outline: none !important;
    color: rgb(214, 207, 207);
}

.gallery-button a:hover {
    color: rgb(19, 17, 17);
}